﻿@using Demo_Areas.Areas.ContactCategory.Models;
<h1>page From  Contact Category </h1>
<table border= 1">
    <tr>
        <td>Name : </td>
        <td>Discription :</td>
    </tr>

    @foreach (var i in ConatactCategoryModel)
    {
        
    }
</table>